@mixin alc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin respond ($break) {
    @if $break == tab-land { 
        @media only screen and (max-width: 75em) {  @content; }
    }
    @if $break == tab-land-small { 
        @media only screen and (max-width: 68.75em) {  @content; }
    }
    @if $break == tab {
        @media only screen and (max-width: 56.25em) { @content;}
    }
    @if $break == phone {
        @media only screen and (max-width: 37.5em) { @content;}
    }
     @if $break == phone-small {
        @media only screen and (max-width: 31.25em) { @content;}
    }
    @if $break == phone-smaller {
        @media only screen and (max-width: 27em) { @content;}
    }
    @if $break == phone-smallest {
        @media only screen and (max-width: 15em) { @content;}
    }
    @if $break == big { //1800px
        @media only screen and (min-width: 112.5em) { @content;}
    }
    @if $break == big-1 { //2500px
        @media only screen and (min-width: 156.25em) { @content;}
    }
    @if $break == big-2 { //3840px
        @media only screen and (min-width: 240em) { @content;}
    }
    @if $break == big-3 { //7680px
        @media only screen and (min-width: 480em) { @content;}
    }
}

