@mixin always-center{
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin clearfix{

  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin cursor-pointer{
  &:hover{
    cursor: pointer;  
  }
}

@mixin respond($breakpoint){
  
  @if $breakpoint == phone{

    @media (max-width: 600px){
      @content;
    }

  }

  @if $breakpoint == tab{
    @media (max-width: 900px){
      @content;
    }
  }

  @if $breakpoint == tabland{
    @media(max-width: 1200px){
      @content;
    }
  }

  @if $breakpoint == big{
    @media(min-width: 1800){
      @content;
    }
  }
}
